/* File Upload Container */
.upload-container {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* File Input Styling */
.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #007bff;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-input-container:hover {
  background-color: #f0f8ff;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #007bff;
}

.upload-label mat-icon {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 8px;
}

/* Progress Bar */
.progress-bar {
  margin-top: 15px;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Message Styling */
.message {
  margin-top: 15px;
  font-weight: 500;
  color: green;
}

.analysis-container {
  display: flex;
  gap: 20px; /* Space between cards */
  justify-content: center; /* Centers the cards */
  align-items: stretch; /* Ensures equal height */
  flex-wrap: wrap; /* Wraps on smaller screens */
  padding: 20px;
}


.analysis-card {
  flex: 1; /* Makes all cards equally wide */
  max-width: 30%; /* Ensures three cards in a row */
  min-width: 300px; /* Prevents shrinking too much */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.analysis-container-overall {
  display: flex;
  gap: 20px; /* Space between cards */
  justify-content: center; /* Centers the cards */
  align-items: stretch; /* Ensures equal height */
  flex-wrap: wrap; /* Wraps on smaller screens */
  padding: 20px;
  font-size: 16px;
}

.analysis-card-overall {
  flex: 1; /* Makes all cards equally wide */
  max-width: 100%; /* Ensures three cards in a row */
  min-width: 1000px; /* Prevents shrinking too much */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.title{
  text-align: center;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 18px;
  color: #666;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.custom-loader {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1976d2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


