<div class="header">
  <h1>FINGUARD.AI</h1>
</div>

<!-- Navbar -->
<mat-toolbar class="navbar"> 
  <button mat-button routerLink="/transaction">Transaction Analysis</button> 
  <button mat-button routerLink="/upload">Filing Analysis</button>
  <button mat-button routerLink="/dashboard">Anomaly detection</button>  
  <button mat-button routerLink="/sec-flags">SEC Flags</button>
  
</mat-toolbar>

<!-- Main Content Area -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<div class="footer">
  &copy; 2025 AI Dashboard. All rights reserved.
</div>
